#main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: #fff;
  font-weight: 600;

  #user-name {
    margin-right: 10px;
  }

  .ant-btn {
    border-left: 1px solid #fff;
    padding-left: 10px;

    &-link {
      color: #fff;
      font-weight: 600;
    }
  }
}
